Lab-Chatbot-Telegram.json
{
  "name": "Lab-Chatbot-Telegram",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "kamu adalah CobaAI"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -48,
        32
      ],
      "id": "662356ee-4d39-40cf-925a-f6a6c21b1957",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -80,
        208
      ],
      "id": "6874a0d2-5e28-43aa-9db6-29f892e320c2",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "XxIwMDcr3ezynJIO",
          "name": "DeepSeek"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -240,
        32
      ],
      "id": "de1ffd35-a35e-4e5b-b1fa-61f98efa6c0e",
      "name": "Telegram Trigger",
      "webhookId": "524e1bec-80bc-4393-8768-90d392cfb6b2",
      "credentials": {
        "telegramApi": {
          "id": "qhRXhQIkLveV90xK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        32
      ],
      "id": "5a499b44-28fe-4f92-b78a-402b6ea30ae3",
      "name": "Send a text message",
      "webhookId": "59732f2d-7f4a-4196-b91c-b6d4799ab10b",
      "credentials": {
        "telegramApi": {
          "id": "qhRXhQIkLveV90xK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        48,
        233
      ],
      "id": "9dd3000c-97c9-47fd-9ff5-ddcfe366f3bc",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6a3adf8c-9b80-4bcd-9d80-f39532873c88",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5e933b6dd101d9a3fad2c21a6d8c56fae07c7b47fb9283abc3184ffc2a57172f"
  },
  "id": "bG632I1RIKAnYAKs",
  "tags": []
}