Test Webhook.json
{
  "name": "Test Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f8138dd8-7a53-4977-90c8-eb047d929833",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "4180771d-00b5-4369-88fe-ae22059486a2",
      "name": "Webhook",
      "webhookId": "f8138dd8-7a53-4977-90c8-eb047d929833",
      "credentials": {
        "httpHeaderAuth": {
          "id": "6dIm2dTx79g4uS9X",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Bit8qLWU45OagGCBEdJw_JmXPWCy-UKBv6y8XoWqCRY",
          "mode": "list",
          "cachedResultName": "n8n test sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Bit8qLWU45OagGCBEdJw_JmXPWCy-UKBv6y8XoWqCRY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Bit8qLWU45OagGCBEdJw_JmXPWCy-UKBv6y8XoWqCRY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone number",
              "displayName": "phone number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        400,
        0
      ],
      "id": "81e56e35-a503-483f-872a-846310c90b05",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6bGOxVxvcm6Zo3KI",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.body;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "3286b24b-96fe-4c5e-ac00-6c9dc6e102a9",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b1f93439-3f6f-4b0f-a718-2493d888c19c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5e933b6dd101d9a3fad2c21a6d8c56fae07c7b47fb9283abc3184ffc2a57172f"
  },
  "id": "kQNviYYBdrEUwjri",
  "tags": []
}